{
    "extends": "eslint:recommended",
    "root": true,
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "env": {
      "es6": true,
      "browser": true,
      "webextensions": true,
      "jquery": true 
    },
    "rules": {
      "array-bracket-spacing": [ "error", "always" ],
      "arrow-parens": [ "error", "as-needed" ],
      "arrow-spacing": [ "error", { "before": true, "after": true } ],
      "block-spacing": [ "error", "always" ],
      "brace-style": [ "error", "1tbs", { "allowSingleLine": true } ],
      "camelcase": [ "error", { "properties": "never" } ],
      "comma-dangle": [ "error", "never" ],
      "comma-spacing": [ "error" ],
      "computed-property-spacing": [ "error", "never" ],
      "curly": [ "error" ],
      "eqeqeq": [ "error" ],
      "eol-last": [ "error", "always" ],
      "func-names": 0,
      "generator-star-spacing": [ "error", { "before": true, "after": false } ],
      "global-require": [ "error" ],
      "import/no-extraneous-dependencies": "off",
      "import/no-unresolved": "off",
      "indent": [ "error", 2 ],
      "key-spacing": [ "error", { "afterColon": true } ],
      "keyword-spacing": [ "error" ],
      "max-len": [ "error", 150 ],
      "no-bitwise": [ "error", { "int32Hint": true } ],
      "no-buffer-constructor": [ "error" ],
      "no-console": 0,
      "no-mixed-operators": [ "error" ],
      "no-multi-spaces": [ "error" ],
      "no-nested-ternary": [ "error" ],
      "no-param-reassign": [ "error" ],
      "no-plusplus": 0,
      "no-regex-spaces": [ "error" ],
      "no-restricted-syntax": [
        "error",
        "Eval",
        "LabeledStatement",
        "WithStatement"
      ],
      "no-return-await": [ "error" ],
      "no-template-curly-in-string": 0,
      "no-trailing-spaces": [ "error" ],
      "no-underscore-dangle": 0,
      "no-unused-expressions": [ "error" ],
      "no-unused-vars": [ "error", { "argsIgnorePattern": "^_" }],
      "no-useless-catch": 0,
      "no-useless-constructor": 1,
      "no-var": [ "error" ],
      "object-curly-newline": [ "error", { "consistent": true, "multiline": true } ],
      "object-curly-spacing": [ "error", "always" ],
      "operator-linebreak": [ "error", "after" ],
      "prefer-const": 1,
      "quotes": [ "error", "single" ],
      "require-atomic-updates": 0,
      "semi": [ "error", "always" ],
      "space-before-blocks": [ "error" ],
      "space-before-function-paren": [ "error", { "anonymous": "always", "named": "never", "asyncArrow": "always" } ],
      "space-in-parens": [ "error", "always" ],
      "space-infix-ops": [ "error" ],
      "space-unary-ops": [ "error", { "words": true, "nonwords": false } ]
    }
  }