{
    "tabWidth": 4,
    "printWidth": 120,
    "quoteProps": "consistent",
    "jsxBracketSameLine": true,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2,
                "printWidth": 200
            }
        },
        {
            "files": "*.js",
            "options": {
                "bracketSpacing": true,
                "singleQuote": true
            }
        }
    ]
}
