input[type="range"].filterKdr {
  margin: auto 8px auto 0;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  overflow: hidden;
  height: 12px;
  cursor: pointer;
  background: transparent;
  border-radius: 15px;
}

input[type="range"].filterKdr::-webkit-slider-runnable-track {
  background: #383b51;
}

input[type="range"].filterKdr::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #fff;
  box-shadow: -200px 0 0 195px #2196fd;
  border: 3px solid #fff;
  border-radius: 50%;
  border-radius: 15px;
}

input[type="range"].filterKdr::-moz-range-track {
  height: 12px;
  background: #ddd;
}

input[type="range"].filterKdr::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #fff;
  box-shadow: -200px 0 0 195px #2196fd;
  border: 3px solid #fff;
  border-radius: 50%;
  border-radius: 15px;
}

input[type="range"].filterKdr::-ms-fill-lower {
  background: #2196fd;
}

input[type="range"].filterKdr::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #fff;
  box-shadow: -200px 0 0 195px #2196fd;
  border: 3px solid #fff;
  border-radius: 50%;
  border-radius: 15px;
}

input[type="range"].filterKdr::-ms-ticks-after {
  display: none;
}

input[type="range"].filterKdr::-ms-ticks-before {
  display: none;
}

input[type="range"].filterKdr::-ms-track {
  background: #ddd;
  color: transparent;
  height: 12px;
  border: none;
}

input[type="range"].filterKdr::-ms-tooltip {
  display: none;
}

.sidebar-desafios-salas .sidebar-item:not(.sidebar-item-prime) .sidebar-item-content,
.sidebar-desafios-salas .sidebar-item:not(.sidebar-item-prime) .sidebar-item-content .sidebar-desafios-play button {
  background-color: rgba(255, 0, 0, 0.322);
  border: 1px solid orange;
}

.blocked {
  background: rgb(255 0 0 / 50%);
  background-image: none !important;
}

/* Filtro de paises */
.filterPais {
  width: 200px !important;
  height: 35px !important;
  padding: 0 16px !important;
  /* needed */
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  /* SVG background image */
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.7812 1.25L13.1875 0.625C13.0312 0.46875 12.7812 0.46875 12.6562 0.625L7 6.28125L1.3125 0.625C1.1875 0.46875 0.9375 0.46875 0.78125 0.625L0.1875 1.25C0.03125 1.375 0.03125 1.625 0.1875 1.78125L6.71875 8.3125C6.875 8.46875 7.09375 8.46875 7.25 8.3125L13.7812 1.78125C13.9375 1.625 13.9375 1.375 13.7812 1.25Z' fill='%23898EA6'/%3E%3C/svg%3E%0A") !important;
  background-size: 14px !important;
  background-position: calc(100% - 16px) center !important;
  background-repeat: no-repeat !important;
  outline: none;
}

.lobby.compact .sala-card-title {
  width: 150px;
}

.lobby.compact .sala-card-badge,
.lobby.compact .sala-card-camp {
  width: 40px !important;
  left: -2px !important;
  top: 4px !important;
}

.lobby.compact .sala-card-badge>span[class=""] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lobby.compact .sala-card-badge>span[class=""]>span {
  width: 30px !important;
  height: 30px !important;
}

.lobby.compact .sala-card-type-verified .sala-card-level-verified .sala-card-level,
.lobby.compact .sala-card-type-prime .sala-card-level-prime .sala-card-level,
.lobby.compact .sala-card-badge .badge-level,
.sala-card-camp .badge-level {
  height: 30px !important;
  width: 30px !important;
  line-height: 22px !important;
  font-size: 14px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lobby.compact .sala-card-type-prime .sala-card-level-prime,
.lobby.compact .sala-card-type-verified .sala-card-level-verified,
.lobby.compact .sala-card-badge .badge-level,
.sala-card-camp .badge-level {
  width: 34px !important;
  height: 34px !important;
}

.lobby.compact .sala-card-country {
  right: 0;
  z-index: 3;
  left: initial !important;
  transform: rotate(90deg);
}

.lobby.compact .sala-card-title {
  width: 100% !important;
  padding: 8px 0 8px 52px !important;
  text-align: left !important;
  font-size: 15px !important;
  margin: 0 !important;
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.5) 15%,
      rgba(0, 0, 0, 0) 100%) !important;
}

.lobby.compact .sala-lineup-imagem {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 3;
}

.lobby.compact .sala-lineup-level {
  margin-top: 4px;
}

.lobby.compact .sala-lineup-player,
.lobby.compact .sala-assinante,
.lobby.compact .sala-lineup-player-plus,
.lobby.compact .sala-lineup-placeholder {
  min-height: 90px !important;
  height: 90px !important;
}

.lobby.compact .sala-card-wrapper {
  width: 20% !important;
}

.lobby.compact .boost-border,
.lobby.compact .sala-video {
  display: none !important;
}

.lobby.compact .lobby-btn-big {
  width: 100% !important;
  max-width: 100% !important;
  font-size: 16px !important;
  height: 36px !important;
}

.lobby.compact .sala-card-btns {
  min-height: 36px !important;
}

.lobby.compact .sala-card-content {
  padding: 0 !important;
}

.lobby.compact .sala-card-type-verified .mixed-badge-room {
  right: -15px !important;
}

.lobby.compact .prime-badge {
  right: -4px !important;
}

.lobby.compact .sala-card-type-verified .verified-badge-room {
  right: -9px !important;
}

.lobby.compact .sala-card {
  margin: 8px 0px !important;
}

.bar-level {
  position: fixed;
  bottom: 0;
  z-index: 100000;
  display: flex;
  align-items: center;
  font-size: 11px;
  left: 50%;

  -webkit-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);

  background: rgb(0 0 0);
  border: 1px solid orange;
  box-shadow: inset 9px 9px 9px 6px rgb(255 141 0 / 10%);
  padding: 5px 11px;
  border-radius: 1px;
}

.bar-info-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 12px;
  padding-right: 12px;
  border-right: 1px solid orange;
}

.bar-level-avatar {
  border-radius: 16px;
  width: 32px;
}

.bar-info-name {
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  margin-bottom: 4px;
}

.kdr-level {
  border-radius: 2px;
  padding: 0px 6px;
  font-weight: bold;
}

#gcbooster_cabecalho {
  border: 1px solid orange !important;
}

.draw-orange {
  border: 1px solid orange !important;
  box-shadow: 0 0 10px rgb(255 165 0 / 86%) !important;
}

.with-fixed-menu div#sidebar-desafios-salas.hasOpenLobbyRoom {
  width: 300px !important;
  margin: 0 auto !important;
  max-height: 100% !important;
}

.hasOpenLobbyRoom div#challengeList.with-fixed-menu {
  position: fixed;
  z-index: 101;

  background: black;
  padding: 8px;

  top: initial !important;
  height: calc(100% - 240px);
  bottom: 0 !important;
  border: 1px solid orange;
  box-shadow: 0 0 10px rgb(255 165 0 / 86%);
  right: 72px;
}

.hasOpenLobbyRoom div#challengeList.with-fixed-menu sidebar {
  position: relative !important;
  top: initial !important;
  right: initial !important;
  bottom: initial !important;
  height: 100% !important;
}

.gcbooster_lupa {
  border: 1px solid orange;
  box-shadow: 0 0 9px rgb(255 165 0 / 40%);
  bottom: 3px;
  right: 3px;
  position: absolute;
  cursor: pointer;
  background: #181818;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infos_lobby {
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 15px;
  border-radius: 7px;
  background: rgb(0 0 0 / 74%);
  padding: 10px 3px;
  box-shadow: 0 0px 10px rgb(255 165 0 / 20%);
  border: 1px solid orange;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}

.gcbooster-info-player {
  font-size: 10px;
  padding: 2px 0;

  border-right: 1px solid #ffa50059;
  padding-left: 4px;
}

.gcbooster-info-player:nth-last-of-type(-2n + 1) {
  border: none !important;
}

.gcbooster-info-titles {
  position: absolute;
  top: -18px;
  left: -1px;
  background: orange;
  width: calc(100% + 2px);
  border-radius: 6px 6px 0 0;
  padding: 1px 9px;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.gcbooster-info-close {
  position: absolute;
  right: 3px;
  top: -17px;
  color: white;
  cursor: pointer;
  font-weight: 400;
  font-size: 10px;
  background: black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
